/* fonts */
@import url('https://fonts.cdnfonts.com/css/satoshi');
/* Satoshi font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
/* Manrope font */
@import url('https://api.fontshare.com/v2/css?f[]=clash-display@400,500,600,700&display=swap');
/* Clash Display font */

@import "tailwindcss";

@theme {
  --font-satoshi: 'Satoshi', sans-serif;
  --font-manrope: 'Manrope', sans-serif;
  --font-clash-display: 'Clash Display', sans-serif;
  --bg-color: #edede9;
  --primary-text-color: #191923;
  --secondary-text-color: #ffffff;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #191923;
    -webkit-text-fill-color: transparent;
  }

  .bg-pattern-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    background: linear-gradient(45deg, #000000 25%, transparent 25%),
      linear-gradient(-135deg,
        #000000 25%,
        transparent 25%,
        transparent 75%,
        #000000 75%,
        #000000);
    background-size: 50px 50px;
  }
}